@import "../../../styles/variables.scss";

.sidenav {
  width: 250px;
  background: $primary-color;
  color: #f3f3f3;
  transition: width 0.3s;
  min-height: 100vh;
  overflow: hidden;
  position: fixed;
  z-index: 100;

  &.sidenav-collapsed {
    width: 70px;

    .logo-text,
    .btn-close,
    .sidenav-link-text {
      display: none;
    }

    .sidenav-nav-link {
      justify-content: center;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 0.5rem 1rem;

  .logo {
    background: none;
    border: none;
    color: inherit;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .logo-text {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 1rem;
    transition: opacity 0.3s;
  }

  .btn-close {
    background: none;
    border: none;
    color: inherit;
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: auto;
    margin-right: 0.5rem;
  }
}

.sidenav-nav {
  list-style: none;
  padding: 0.938rem 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: calc(100% - 3.65rem);

  .sidenav-nav-item {
    width: 100%;
    margin-bottom: 0.7rem;

    .sidenav-nav-link {
      display: flex;
      align-items: center;
      height: 3rem;
      color: #f3f3f3;
      text-decoration: none;
      border-radius: 0.625rem;
      transition: all 0.3s ease;
      background: none;
      border: none;
      width: 100%;
      padding: 0 1rem;
      cursor: pointer;

      &:hover,
      &.active {
        background-color: #fff;
        color: #000;

        .sidenav-link-icon {
          color: #0078d4;
        }
      }

      .sidenav-link-icon {
        font-size: 22px;
        width: 2rem;
        min-width: 2rem;
        text-align: center;
        padding: 12px 0;
        transition: color 0.3s;
      }

      .sidenav-link-text {
        margin-left: 1.5rem;
        white-space: nowrap;
        transition: opacity 0.3s;
      }
    }
  }
}