@import "../../../styles/variables.scss";

main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  section{
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

    .main-section{


      flex-grow: 1;
      background-color: $gray-bg;
    }

    .form-section {
      flex-grow: 0.1;
      padding: 0 35px 0 35px ;

      h2{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 45px;
      }

      .btn-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 25px;

        .divider{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          font-size: 14px;
          gap: 20px;
          color: $gray-bg;
          font-weight: 400;
          text-transform: uppercase;
          width: 100%;

          div{
            flex-grow: 1;
            height: 2px;
            background-color: $gray-bg;
          }
        }

      button{
        width: 100%;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 500;
        background-color: transparent;
        padding: 12px 24px;
        cursor: pointer;

        &.btn-primary{
          background-color: $primary-color;
          color: white;
          border-color: $primary-color;
        }

        &.btn-secondary{
          background-color: 5px solid $primary-color;
          color: $primary-color;
          border-color: $primary-color;
        }
      }
    }
  }

}

