
<app-default-login
  title="Login into yout account"
  primaryBtnText="Login Now"
  secondaryBtnText="Create an account"
  (submit)="submit()"
  (navigate)="navigate()"
  (navigateHome)="navigateHome()"
  [disablePrimaryBtn]="loginForm.valid"
>
  <form [formGroup]="loginForm">
    <app-primary-input
    formControlName="email"
      inputName="email"
      type="email"
      label="Name"
      [(ngModel)]="nome"
      placeholder="Digite seu Usuario"
    >
    </app-primary-input>

    <app-primary-input
    formControlName="password"
    inputName="password"
    type="password"
    [(ngModel)]="senha"
    label="Password"
    placeholder="Digite sua senha"
  >
  </app-primary-input>
  <span>forgot password?</span>
  </form>
</app-default-login>