<main>
  <div class="dashboard-container">

    <div class="dashboard-box">
      <h3>Veiculos</h3>
      <select class="dashboard-selector" name="" id="">
        <option value=""></option>
        <option value="">Mustang</option>
        <option value="">Ranger</option>
        <option value="">Territory</option>
        <option value="">Bronco Sport</option>
      </select>
    </div>
    <div class="dashboard-box">
      <h3>Total de Vendas</h3>
      <span class="unit">unid</span>
    </div>

    <div class="dashboard-box">
      <h3>Conectados</h3>
      <span class="unit">unid</span>
    </div>

    <div class="dashboard-box">
      <h3>Update Software</h3>
      <span class="unit">unid</span>
    </div>
  </div>
</main>