main {
  position: fixed;
  top: 20%;
  left: 13.5%;
}

.dashboard-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.dashboard-box {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  padding: 25px;
  width: 300px;
  text-align: center;
}

.dashboard-box h3 {
  color: #555;
  font-size: 18px;
  margin-bottom: 10px;
}

.dashboard-box .value {
  color: #007bff;
  font-size: 28px;
  font-weight: bold;
}

.dashboard-box .unit {
  font-size: 16px;
  color: #644ad8;
}

.dashboard-selector {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.img-selected-vehicle {
  max-width: 90%;
  height: auto;
  display: block;
  margin-top: 16px;

}
